In [1]:
import pandas as pd

In [2]:
ab={
    "age":[11,21,23,24,25,26,27,28,29,30],"email":['asrun','dummy','rest','best','suffer','food','utgghgf','kiygy','ikguhyg','oity'], "number":[36464,38655,68722228,84521787,894989,368114,33687,6987,36876,36414], "city":["lucknow","sitapur","hardoi","kanpur","agra","juytv","kuygvy","kityy","iutfj","kiyhyu"],"enrol":[6541,6841,6871,6781,4785,368713,3687,6781,7562,7856]
}

In [3]:
bc=pd.DataFrame(ab)

In [4]:
ac=bc[bc['enrol'] <6541]

In [5]:
print(ac)

   age    email  number    city  enrol
4   25   suffer  894989    agra   4785
6   27  utgghgf   33687  kuygvy   3687

In [6]:
vb=bc[bc['age']>25]

In [7]:
print(vb)

   age    email  number    city   enrol
5   26     food  368114   juytv  368713
6   27  utgghgf   33687  kuygvy    3687
7   28    kiygy    6987   kityy    6781
8   29  ikguhyg   36876   iutfj    7562
9   30     oity   36414  kiyhyu    7856